Repository we-are-number-1/yumble, pull requests merged in 2021-04, with the labels that each got.

#263 [WIKI] .env example file
  README.md
  backend/.env.example
Labels: Backend, documentation

#266 [BUG] Result screen fails when no restaurant is 'liked'
  frontend/src/components/7.Result/ResultPage.css
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/__tests__/ResultPage.test.js
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
Labels: BUG, Frontend

#273 [BUG] Changed isFinished boolean to be persisted when game is finished
  backend/src/domain/models/SocketSession.js
Labels: BUG, Backend

#267 [FEAT] Show map, image, rating and price on the results screen
  .gitignore
  backend/src/domain/models/SocketSession.js
  backend/src/mongo/models/Restaurant.js
  backend/src/routes/__tests__/sessions.test.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/6.Swiping/__tests__/SwipingPage.test.js
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/__tests__/SwipeCard.test.js
Labels: Backend, Frontend

#281 [FEAT] Add responsiveness to App
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.css
  frontend/src/components/3.Preferences/Preferences.module.css
  frontend/src/components/4.Lobby/Lobby.css
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/6.Swiping/SwipingPage.css
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/Common/SwipeCard.css
  frontend/src/index.js
Labels: Frontend

#279 [FEAT] Add expiry to mongoDB documents
  backend/src/config.js
  backend/src/mongo/models/Session.js
Labels: Backend

#271 [BUG] Basic fix for timer bug
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/6.Swiping/SwipingPage.js
Labels: BUG, Frontend

#285 Lobby Screen Responsiveness
  .gitignore
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/4.Lobby/Lobby.css
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/Common/Help.css
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: BUG, Frontend

#283 Feature/landing join mobile responsiveness and css
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/backgroundImg.jpeg
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/Common/Help.css
  frontend/src/components/Common/Help.js
  frontend/src/components/Common/UserInput.css
Labels: Frontend

#289 [BUG] The 'go' button on the 'choose game settings' page does not register the first click. #261
  frontend/src/components/Common/LocationHelper.js
Labels: BUG

#290 [FEAT] Remove unused code related to cusine field of restaurant card
  backend/package-lock.json
  backend/src/domain/models/SocketSession.js
  backend/src/mongo/models/Preference.js
  backend/src/mongo/models/Restaurant.js
  backend/src/routes/__tests__/sessions.test.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/4.Lobby/__test__/__snapshots__/Lobby.test.js.snap
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/6.Swiping/__tests__/SwipingPage.test.js
  frontend/src/components/6.Swiping/__tests__/__snapshots__/SwipingPage.test.js.snap
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
  frontend/src/components/Common/LocationHelper.js
  frontend/src/components/Common/SwipeCard.css
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/__tests__/SwipeCard.test.js
  frontend/src/components/Common/__tests__/__snapshots__/SwipeCard.test.js.snap
  frontend/src/components/Common/getRestaurantCards.js
Labels: Frontend

#277 [FEAT] Add rejoining a finished game to view results
  backend/package-lock.json
  backend/src/sockets/joinRoom.js
  frontend/package-lock.json
  frontend/public/index.html
  frontend/src/api-pulling/LoadMap.js
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/Common/LocationHelper.js
  frontend/src/sockets/SkipToResults.js
  frontend/src/sockets/index.js
Labels: Backend, Frontend, Websockets

#276 [FEAT] Implement max price filter
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/Common/LocationHelper.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: Frontend

#295 [BUG] Changing timer interval at setting does not change the timer interval in the frontend #288
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/sockets/SocketContext.js
Labels: BUG, Frontend

#297 [FEAT] Added swiping functionality
  backend/src/domain/models/Game.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/1.Landing/__test__/__snapshots__/StartPage.test.js.snap
  frontend/src/components/2.Join/__test__/__snapshots__/JoinGroup.test.js.snap
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/6.Swiping/SwipingPage.css
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/6.Swiping/__tests__/SwipingPage.test.js
  frontend/src/components/6.Swiping/__tests__/__snapshots__/SwipingPage.test.js.snap
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
  frontend/src/components/Common/Help.css
  frontend/src/components/Common/SwipeCard.css
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/__tests__/__snapshots__/Help.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapModal.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/SwipeCard.test.js.snap
Labels: Frontend

#280 [BUG] Removed memory leak to do with games/sessions not being removed from map
  backend/package.json
  backend/src/domain/models/Game.js
  backend/src/domain/models/SocketSession.js
  backend/src/index.js
  backend/src/mongo/models/Restaurant.js
  backend/src/mongo/models/Session.js
  backend/src/routes/__tests__/sessions.test.js
  backend/src/sockets/disconnect.js
  backend/src/sockets/hostRoom.js
  backend/src/sockets/index.js
  backend/src/sockets/joinRoom.js
  backend/src/sockets/leaveRoom.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/sockets/hostRoom.js
  frontend/src/sockets/index.js
Labels: BUG, Backend

#301 [BUG] mongoDB Session schema expiry index not working
  backend/.env.example
  backend/src/config.js
  backend/src/index.js
  backend/src/mongo/__tests__/index.test.js
  backend/src/mongo/index.js
  backend/src/mongo/models/Session.js
  backend/src/mongo/models/__mocks__/Session.js
Labels: BUG, Backend, documentation

#306 [FEAT] Additional Preference Page Styling
  frontend/src/components/3.Preferences/AutocompleteSearchBox.css
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/3.Preferences/Preferences.module.css
  frontend/src/components/Common/Help.js
Labels: Frontend

#307 [FEAT] Adds commenting to the Frontend components
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/7.Result/DataVisual.js
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/ResultPopup.js
  frontend/src/components/Common/Help.js
  frontend/src/components/Common/LocationHelper.js
  frontend/src/components/Common/MapModal.js
  frontend/src/components/Common/MapsPinpoint.js
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/UserInput.js
  frontend/src/components/Common/getAPIKey.js
  frontend/src/components/Common/getRestaurantCards.js
  frontend/src/components/Map/Map.js
Labels: Frontend

#310 [FEAT] Lobby Page Restyle
  frontend/public/avatars/0.png
  frontend/public/avatars/1.png
  frontend/public/avatars/2.png
  frontend/public/avatars/3.png
  frontend/public/avatars/4.png
  frontend/public/avatars/5.png
  frontend/public/avatars/6.png
  frontend/public/avatars/7.png
  frontend/public/avatars/8.png
  frontend/public/avatars/9.png
  frontend/src/App.css
  frontend/src/components/4.Lobby/Lobby.css
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/Common/Help.js
Labels: Frontend

#312 [BUG] No timer for guests AND Lobby warning
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/4.Lobby/Lobby.js
Labels: BUG, Frontend

#320 [BUG] Modified the background image to be hi-res and added image credits
  frontend/src/App.css
  frontend/src/BackgroundImage.webp
  frontend/src/backgroundImg.jpeg
Labels: BUG, Frontend

#325 [WIKI] Modified readme and example env because of extraction of Google API key
  README.md
  backend/.env.example
Labels: documentation

#329 [FEAT] Show all results in pie chart
  frontend/src/components/7.Result/ResultPage.js
Labels: Frontend

#326 [FEAT] Added restart button to the default results page
  frontend/src/components/7.Result/ResultPage.js
Labels: Frontend

#319 [BUG] Modified colour of pie chart label
  frontend/src/components/2.Join/__test__/__snapshots__/JoinGroup.test.js.snap
  frontend/src/components/7.Result/DataVisual.js
  frontend/src/components/7.Result/__tests__/__snapshots__/DataVisual.test.js.snap
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/Help.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapModal.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapsPinpoint.test.js.snap
Labels: Frontend

#323 [BUG] Fixed bug with incorrect countdown
  backend/src/domain/models/Game.js
  frontend/src/components/6.Swiping/SwipingPage.js
Labels: BUG, Backend

#327 [FIX] Fix Dropdown border weirdness
  frontend/src/components/3.Preferences/AutocompleteSearchBox.css
Labels: BUG, Frontend

#330 [FEAT] Implement Random Top Choice functionality
  backend/src/mongo/models/Session.js
  backend/src/routes/sessions.js
  frontend/src/components/7.Result/ResultPage.js
Labels: Backend, Frontend

#322 [FEAT] Modify the Go Button styling on the Join Page and the Close button styling
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/7.Result/ResultPopup.js
  frontend/src/components/Common/Help.js
  frontend/src/components/Common/MapModal.js
Labels: Frontend

#331 [FEAT] Button, div and help component code formatting
  frontend/src/App.css
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.Preferences/AutocompleteSearchBox.js
  frontend/src/components/3.Preferences/Preferences.js
  frontend/src/components/7.Result/ResultPopup.js
  frontend/src/components/Common/Help.js
  frontend/src/components/Common/MapModal.js
Labels: Frontend

#333 [FIX] Fixed all snapshot test errors
  frontend/src/components/2.Join/__test__/__snapshots__/JoinGroup.test.js.snap
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/4.Lobby/__test__/Lobby.test.js
  frontend/src/components/4.Lobby/__test__/__snapshots__/Lobby.test.js.snap
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/5.Countdown/__test__/CountDown.test.js
  frontend/src/components/5.Countdown/__test__/__snapshots__/CountDown.test.js.snap
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/6.Swiping/__tests__/__snapshots__/SwipingPage.test.js.snap
  frontend/src/components/7.Result/__tests__/__snapshots__/DataVisual.test.js.snap
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
  frontend/src/components/Common/MapsPinpoint.js
  frontend/src/components/Common/__tests__/__snapshots__/Help.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapModal.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapsPinpoint.test.js.snap
Labels: BUG
