Repository we-are-number-1/yumble, pull requests merged in 2021-03, with the labels that each got.

#10 DB Setup and added axios
  backend/src/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: Initial Setup

#20 Added material UI npm package
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#23 Added eslint to both frontend and backend
  backend/.eslintrc.js
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
Labels: Initial Setup

#26 Edited package.json build script
  package.json
Labels: Initial Setup

#27 Edited eslintrc to ignore linebreak style
  frontend/.eslintrc.js
Labels: Initial Setup

#29 Repository Guidelines & Documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
Labels: Initial Setup, documentation

#36 [FEAT] Add new eslint rule to ignore linebreak in backend/.eslintrc.js
  backend/.eslintrc.js
Labels: Initial Setup

#54 [BUG] Add JSDoc to exampleTestSum
  backend/src/__tests__/exampleTestSum.test.js
  backend/src/exampleTestSum.js
Labels: enhancement

#31 [WIKI] Add ticket & PR schema to Community guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ticket-schema.md
Labels: documentation

#57 [FEAT] Added linting to GitHub actions
  .github/workflows/node.js.yml
  backend/.eslintrc.js
  backend/babel.config.js
  frontend/.eslintrc.js
Labels: Initial Setup

#33 [WIKI] Add Issue and PR schema to how to contribute
  CONTRIBUTING.md
Labels: documentation

#60 [FEAT] Added basic game mechanic controllers/ domain models
  backend/src/domain/Games.js
  backend/src/domain/models/Game.js
  backend/src/domain/models/Session.js
  backend/src/index.js
Labels: Backend, Websockets

#69 [BUG] Modify addUser method in SocketSession.js in the frontend
  backend/src/domain/models/SocketSession.js
Labels: Websockets

#64 [FEAT] Added structure and endpoint.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.CreateGroup/CreateGroup.js
  frontend/src/components/3.CreateGroup/CreateGroup.module.css
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/4.Preferences/Preferences.module.css
  frontend/src/components/5.Lobby/LobbyPage.js
  frontend/src/components/6.Countdown/CountdownPage.js
  frontend/src/components/7.Swiping/SwipingPage.js
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/Help.css
  frontend/src/components/Common/Help.js
  frontend/src/components/Common/UserInput.css
  frontend/src/components/Common/UserInput.js
Labels: Frontend, Initial Setup

#53 [FEAT] Add initial setup for API
  backend/src/index.js
  backend/src/mongo/models/Preference.js
  backend/src/mongo/models/Restaurant.js
  backend/src/mongo/models/Result.js
  backend/src/mongo/models/Session.js
  backend/src/routes/preferences.js
  backend/src/routes/results.js
  backend/src/routes/sessions.js
Labels: API, Initial Setup

#79 [FEAT] Add favicon and browser tab name
  frontend/public/favicon.ico
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.CreateGroup/CreateGroup.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/5.Lobby/LobbyPage.js
  frontend/src/components/6.Countdown/CountdownPage.js
  frontend/src/components/7.Swiping/SwipingPage.js
  frontend/src/components/8.Result/ResultPage.js
Labels: Frontend

#66 [FEAT] Add join_room and new_user sockets, to backend and frontend
  backend/src/index.js
  backend/src/sockets/disconnect.js
  backend/src/sockets/index.js
  backend/src/sockets/joinRoom.js
  frontend/src/sockets/index.js
  frontend/src/sockets/joinRoom.js
  frontend/src/sockets/newUser.js
  frontend/src/sockets/socketClient.js
Labels: Websockets

#83 [BUG] Modify newGame method in Games.js in the frontend
  backend/src/domain/Games.js
Labels: Websockets

#81 [FEAT] Add game end web socket to backend and frontend
  backend/src/domain/models/Game.js
  frontend/src/sockets/endGame.js
  frontend/src/sockets/index.js
Labels: Websockets

#90 [FEAT] Modify disconnect game in backend
  backend/src/domain/Games.js
  backend/src/sockets/disconnect.js
Labels: Backend, Websockets

#86 [FEAT] Create API for POSTing preferences
  backend/src/routes/preferences.js
Labels: API, Backend

#92 [FEAT] Add Map modal
  frontend/src/App.css
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/MapModal.js
  frontend/src/components/Common/MapsPinpoint.js
Labels: Frontend

#95 [FEAT] Add test endpoint for retrieving a dummy restaurant card
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/sessions.test.js
  backend/src/mongo/models/Restaurant.js
  backend/src/routes/sessions.js
  frontend/src/components/7.Swiping/SwipingPage.js
Labels: API, Backend, Frontend

#100 [FEAT] Modify web sockets to use consistent naming
  backend/src/domain/Games.js
  backend/src/domain/models/Game.js
  backend/src/domain/models/SocketSession.js
  backend/src/index.js
  backend/src/sockets/disconnect.js
  backend/src/sockets/joinRoom.js
  backend/src/sockets/start.js
  frontend/src/sockets/endGame.js
  frontend/src/sockets/joinRoom.js
  frontend/src/sockets/start.js
Labels: Websockets

#93 [FEAT] Add Post createResult implementation to backend
  backend/src/mongo/models/Restaurant.js
  backend/src/mongo/models/Result.js
  backend/src/routes/results.js
Labels: API, Backend

#96 [Feat]Add Get Results implementation to backend
  backend/src/routes/results.js
Labels: API, documentation

#105 [FEAT] Implement Session API endpoint and Session Model
  backend/src/mongo/models/Session.js
  backend/src/routes/sessions.js
Labels: API, Backend

#118 [BUG] Fixed hover on back button
  frontend/src/App.css
Labels: Frontend

#106 [WIKI] Modify issue templates in community
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ticket-schema.md
Labels: documentation, setup environment

#108 [FEAT] Add preference update/set socket event to frontend and backend
  backend/src/sockets/index.js
  backend/src/sockets/setPreferences.js
  frontend/src/sockets/index.js
  frontend/src/sockets/setPreferences.js
Labels: Websockets

#110 [FEAT] Add countdown timer socket event on game start
  backend/src/domain/models/Game.js
  backend/src/sockets/start.js
  frontend/src/sockets/countdown.js
  frontend/src/sockets/index.js
Labels: Websockets

#114 [FEAT] Add autocomplete location search box
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/4.Preferences/AutocompleteSearchBox.css
  frontend/src/components/4.Preferences/AutocompleteSearchBox.js
  frontend/src/components/4.Preferences/Preferences.js
Labels: API Discovery, Frontend

#131 [BUG] Modified constructor parameter to match field in SocketSession
  backend/src/domain/models/SocketSession.js
Labels: Backend

#140 [REQUEST] Modify and refactor handleSelect in AutocompleteSearchBox
  frontend/src/components/4.Preferences/AutocompleteSearchBox.js
  frontend/src/components/Common/LocationHelper.js
Labels: API Discovery, Frontend

#116 [FEAT] Add 'Lobby' and 'CountDown' Page to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/5.Lobby/Lobby.css
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/5.Lobby/LobbyPage.js
  frontend/src/components/6.Countdown/CountDown.js
  frontend/src/components/6.Countdown/CountdownPage.js
Labels: Frontend

#139 [TEST] Add Tests for domain model backend Games.js
  backend/src/domain/Games.js
  backend/src/domain/__tests__/Games.test.js
Labels: Backend

#128 [FEAT] Added a Map Modal using Google's Map API
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api-pulling/LoadMap.js
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/MapModal.js
  frontend/src/components/Map/Map.js
Labels: API, Frontend

#145 [TEST] Add Test for domain/models/SocketSession.js
  backend/src/domain/models/__tests__/SocketSession.test.js
Labels: Backend

#119 [FEAT] Adding create page capabilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.CreateGroup/CreateGroup.js
  frontend/src/components/4.Preferences/AutocompleteSearchBox.css
  frontend/src/components/4.Preferences/AutocompleteSearchBox.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/4.Preferences/Preferences.module.css
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/Common/UserInput.js
Labels: Frontend

#153 [FEAT] Add Socket Context to App.js frontend
  frontend/src/index.js
  frontend/src/sockets/SocketContext.js
Labels: Frontend, Websockets

#160 [BUG] Modify SocketContext io state inital value in frontend
  frontend/src/sockets/SocketContext.js
Labels: Frontend

#164 Restaurant card generation from nearbySearch
  frontend/src/components/Common/LocationHelper.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, Frontend

#162 [TEST] Add socket tests for backend and frontend
  backend/src/index.js
  backend/src/sockets/__tests__/disconnect.test.js
  backend/src/sockets/disconnect.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/sockets/__tests__/setPreferences.test.js
  frontend/src/sockets/__tests__/start.test.js
Labels: Backend, Frontend, Websockets

#161 [TEST] Add tests for some frontend sockets
  frontend/src/sockets/__tests__/countdown.test.js
  frontend/src/sockets/__tests__/endGame.test.js
  frontend/src/sockets/__tests__/joinRoom.test.js
  frontend/src/sockets/__tests__/newUser.test.js
  frontend/src/sockets/__tests__/nextRound.test.js
Labels: Frontend, Websockets

#134 [Test] Delete example test in frontend and backend
  backend/src/__tests__/exampleTestSum.test.js
  backend/src/exampleTestSum.js
  frontend/src/components/ExampleTestButton/Button.js
  frontend/src/components/ExampleTestButton/__test__/Button.test.js
  frontend/src/components/ExampleTestButton/__test__/__snapshots__/Button.test.js.snap
  frontend/src/components/ExampleTestButton/index.js
Labels: Backend, Frontend

#172 [BUG] Fixed bad restaurant data parser.
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, BUG, Frontend

#168 [FEAT] Add Google API key endpoint (served via process vars) to backend
  backend/src/routes/keys.js
Labels: API Discovery, Backend

#173 [FEAT] Add Integration between frontend and sockets
  backend/src/domain/__mocks__/Games.js
  backend/src/domain/models/SocketSession.js
  backend/src/index.js
  backend/src/sockets/disconnect.js
  backend/src/sockets/joinRoom.js
  frontend/src/App.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/3.CreateGroup/CreateGroup.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/6.Countdown/CountDown.js
  frontend/src/index.js
  frontend/src/sockets/SocketContext.js
  frontend/src/sockets/index.js
  frontend/src/sockets/newUser.js
  frontend/src/sockets/socketClient.js
Labels: Backend, Frontend, Implementation, Websockets

#175 [FEAT] Add user disconnect socket lobby sync
  backend/src/domain/models/SocketSession.js
  backend/src/index.js
  backend/src/sockets/__tests__/disconnect.test.js
  backend/src/sockets/disconnect.js
Labels: Backend, Frontend, Websockets

#166 Improved CSS for JoinPage, Preference and fixed warnings on console for lobby for frontend
  frontend/src/App.css
  frontend/src/components/2.Join/JoinGroup.css
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/4.Preferences/AutocompleteSearchBox.css
  frontend/src/components/4.Preferences/AutocompleteSearchBox.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/4.Preferences/Preferences.module.css
  frontend/src/components/5.Lobby/Lobby.css
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/6.Countdown/CountDown.js
  frontend/src/components/Common/UserInput.css
Labels: Frontend

#177 [FEAT] Added an endpoint for API keys and added API calls to the frontend
  backend/src/index.js
  backend/src/routes/keys.js
  frontend/src/components/Common/getAPIKey.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, Backend, Frontend

#157 [BUG] Modify "Game.js": bug fix
  backend/src/domain/models/Game.js
Labels: BUG, Backend

#179 [BUG] Fixing the redundant function call in getRestaurantCards that breaks the workflow
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, BUG, Frontend

#182 [BUG] Fixed card generation and foursquare api bugs.
  frontend/src/components/Common/getAPIKey.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, BUG, Frontend

#185 [FEAT] Final Touches: Lobby goes back to right page and improved share message.
  frontend/src/components/5.Lobby/Lobby.js
Labels: Frontend

#180 [FEAT] Add integration for lobby and countdown rooms
  backend/src/domain/models/Game.js
  backend/src/index.js
  frontend/src/App.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/6.Countdown/CountDown.js
Labels: Backend, Frontend, Implementation, Websockets

#159 [BUG] Modify session api on backend
  backend/src/__tests__/sessions.test.js
  backend/src/index.js
  backend/src/mongo/models/Preference.js
  backend/src/mongo/models/Restaurant.js
  backend/src/mongo/models/Result.js
  backend/src/mongo/models/Session.js
  backend/src/routes/preferences.js
  backend/src/routes/results.js
  backend/src/routes/sessions.js
Labels: API, BUG, Backend

#111 [FEAT] Adding join page capabilities
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/2.Join/JoinGroup.js
Labels: Backend, Frontend

#187 [ADD] Add lobby code validation checker
  backend/src/sockets/joinRoom.js
  backend/src/sockets/leaveRoom.js
  backend/}
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/sockets/SocketContext.js
  frontend/src/sockets/index.js
  frontend/src/sockets/invalidCode.js
  frontend/src/sockets/leaveRoom.js
Labels: Backend, Frontend, Websockets

#188 [FEAT] Add leave room listener to index
  backend/src/index.js
  backend/src/sockets/index.js
Labels: Backend, Frontend

#189 Update Preferences model to include timer and coordinates
  backend/src/mongo/models/Coordinates.js
  backend/src/mongo/models/Preference.js
Labels: API, Backend

#148 [FEAT] Add swiping card page
  frontend/src/App.css
  frontend/src/components/7.Swiping/SwipingPage.css
  frontend/src/components/7.Swiping/SwipingPage.js
  frontend/src/components/Common/SwipeCard.css
  frontend/src/components/Common/SwipeCard.js
Labels: Frontend

#192 [FEAT] Update Preferences Model to use a Number for price
  backend/src/mongo/models/Preference.js
Labels: API, Backend

#194 [BUG] Modify socket context fix connection issue
  frontend/src/App.js
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/sockets/SocketContext.js
Labels: Frontend, Websockets

#197 [BUG] Fixed restaurant card generation due to 404 error when calling foursquare API
  backend/src/index.js
  frontend/src/components/4.Preferences/Preferences.js
Labels: API Discovery, BUG, Backend, Frontend

#195 [FEAT] Add End game socket event listener to Component
  backend/}
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/7.Swiping/SwipingPage.js
Labels: Frontend, Websockets

#198 [FEAT] Add integration with Perferences and create room
  backend/src/domain/models/Game.js
  backend/src/domain/models/SocketSession.js
  backend/src/index.js
  backend/src/routes/sessions.js
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/5.Lobby/Lobby.js
Labels: Backend, Frontend, Websockets

#201 [FEAT] Added coords data to restaurant cards so maps can be easily done
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, Frontend

#127 [Wiki] Add bug report template
  .github/ISSUE_TEMPLATE/bug-report-template.md
Labels: Initial list of tasks, documentation

#203 [BUG] Add Missed Method call for Perferences integration HOTFIX
  frontend/src/components/4.Preferences/Preferences.js
Labels: Frontend, Websockets

#181 [FEAT] Add result data visual
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/components/8.Result/DataVisual.js
  frontend/src/components/8.Result/ResultPage.css
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/SwipeCard.css
Labels: Frontend

#208 [BUG] Fix for Heroku Deployment failing due to react app not compiling
  frontend/package-lock.json
  frontend/package.json
Labels: BUG, Frontend

#206 [FEAT] Modify cards to integrate data from API to frontend
  frontend/src/App.css
  frontend/src/components/4.Preferences/Preferences.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/components/6.Countdown/CountDown.js
  frontend/src/components/7.Swiping/SwipingPage.js
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/LocationHelper.js
  frontend/src/components/Common/getRestaurantCards.js
Labels: API Discovery, Frontend, Implementation

#212 [BUG] Fixed JoinGroup box, share link and background image to frontend #211
  frontend/src/App.css
  frontend/src/BackgroundImage.webp
  frontend/src/components/2.Join/JoinGroup.js
  frontend/src/components/5.Lobby/Lobby.js
Labels: Frontend

#217 [Modify] Modified Map Input Parameters and API Key calling
  frontend/src/api-pulling/LoadMap.js
  frontend/src/components/7.Swiping/SwipingPage.js
  frontend/src/components/8.Result/ResultPage.js
  frontend/src/components/Common/MapModal.js
  frontend/src/components/Map/Map.js
Labels: API Discovery, Frontend

#218 [BUG] Fixed swiping card bug because Aniket is dumb -- hot fix
  frontend/src/components/7.Swiping/SwipingPage.js
Labels: API Discovery, BUG, Frontend

#214 [FEAT] Fix the styling issues for cards
  frontend/src/components/7.Swiping/SwipingPage.css
  frontend/src/components/Common/SwipeCard.css
  frontend/src/components/Common/SwipeCard.js
Labels: Frontend

#220 [FEAT] Quick fix --> Limit to 5 letters for lobby names to prevent it being bugged
  frontend/src/components/5.Lobby/Lobby.css
Labels: Frontend

#216 [WIKI] Update license in Package.json
  backend/package.json
  package.json
Labels: setup environment

#222 [BUG] Added extra margins to Lobby text
  frontend/src/components/5.Lobby/Lobby.css
Labels: Frontend

#221 [WIKI] Pull Request template & misc template changes made
  .github/ISSUE_TEMPLATE/bug-report-template.md
  .github/ISSUE_TEMPLATE/ticket-schema.md
  .github/pull_request_template.md
Labels: documentation

#227 [TEST] Add Tests and Mocks for domain/models/.* in Backend
  backend/src/domain/models/Game.js
  backend/src/domain/models/SocketSession.js
  backend/src/domain/models/__tests__/Game.test.js
  backend/src/domain/models/__tests__/SocketSession.test.js
  backend/src/mongo/models/__mocks__/Session.js
Labels: Backend, Implementation, Websockets

#228 [TEST] Add Test for new Sockets
  frontend/src/sockets/__tests__/invalidCode.test.js
  frontend/src/sockets/__tests__/leaveRoom.test.js
  frontend/src/sockets/__tests__/setRestaurants.test.js
  frontend/src/sockets/__tests__/updateRestaurants.test.js
  frontend/src/sockets/__tests__/vote.test.js
  frontend/src/sockets/vote.js
Labels: Frontend, Websockets

#230 [Test] Add Tests for sockets and cleanup in backend
  backend/src/domain/__mocks__/Games.js
  backend/src/domain/models/__mocks__/Game.js
  backend/src/sockets/__tests__/leaveRoom.test.js
  backend/src/sockets/__tests__/setRestaurants.test.js
  backend/src/sockets/__tests__/start.test.js
  backend/src/sockets/__tests__/vote.test.js
  backend/src/sockets/disconnect.js
  backend/src/sockets/index.js
  backend/src/sockets/leaveRoom.js
  backend/src/sockets/setPreferences.js
  backend/src/sockets/setRestaurants.js
  backend/src/sockets/start.js
  backend/src/sockets/updateRestaurants.js
  backend/src/sockets/vote.js
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/sockets/index.js
  frontend/src/sockets/setPreferences.js
Labels: Backend, Websockets

#231 [TEST] Add StartPage and JoinPage snapshot
  frontend/src/components/1.Landing/StartPage.js
  frontend/src/components/1.Landing/__test__/StartPage.test.js
  frontend/src/components/1.Landing/__test__/__snapshots__/StartPage.test.js.snap
  frontend/src/components/2.Join/__test__/JoinGroup.test.js
  frontend/src/components/2.Join/__test__/__snapshots__/JoinGroup.test.js.snap
Labels: Frontend

#242 [WIKI] Readme update
  README.md
  package.json
Labels: documentation

#235 [FEAT] Added unit tests setup
  backend/package-lock.json
  backend/package.json
  backend/src/__mocks__/index.js
  backend/src/routes/__tests__/sessions.test.js
Labels: Backend, Implementation

#229 [TEST] Results page testing
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/__tests__/DataVisual.test.js
  frontend/src/components/7.Result/__tests__/ResultPage.test.js
  frontend/src/components/7.Result/__tests__/__snapshots__/DataVisual.test.js.snap
  frontend/src/components/7.Result/__tests__/__snapshots__/ResultPage.test.js.snap
  frontend/src/components/Common/MapsPinpoint.js
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/__tests__/MapModal.test.js
  frontend/src/components/Common/__tests__/__snapshots__/MapModal.test.js.snap
Labels: Frontend

#243 [TEST] Lobby and CountDown testing
  frontend/src/components/4.Lobby/Lobby.js
  frontend/src/components/4.Lobby/__test__/Lobby.test.js
  frontend/src/components/4.Lobby/__test__/__snapshots__/Lobby.test.js.snap
  frontend/src/components/5.Countdown/CountDown.js
  frontend/src/components/5.Countdown/__test__/CountDown.test.js
  frontend/src/components/5.Countdown/__test__/__snapshots__/CountDown.test.js.snap
  frontend/src/components/5.Lobby/Lobby.js
  frontend/src/sockets/__mocks__/SocketContext.js
Labels: Frontend

#237 [WIKI] Modify Contributing on repo
  CONTRIBUTING.md
Labels: documentation

#247 Cleaned up code used for the ResultsPage
  frontend/src/components/7.Result/DataVisual.js
  frontend/src/components/7.Result/ResultPage.js
  frontend/src/components/7.Result/__tests__/DataVisual.test.js
  frontend/src/components/7.Result/__tests__/__snapshots__/DataVisual.test.js.snap
Labels: Frontend

#249 [TEST] Add test for API PATCH
  backend/src/routes/__tests__/sessions.test.js
Labels: API, Backend

#250 [TEST]Add unit test for post session
  backend/src/routes/__tests__/sessions.test.js
Labels: API, Backend

#251 Add unit tests for get session/id to backend
  backend/package.json
  backend/src/routes/__tests__/sessions.test.js
Labels: API, Backend, Implementation

#232 [TEST] Swiping page testing
  frontend/src/components/6.Swiping/SwipingPage.js
  frontend/src/components/6.Swiping/__tests__/SwipingPage.test.js
  frontend/src/components/6.Swiping/__tests__/__snapshots__/SwipingPage.test.js.snap
  frontend/src/components/Common/SwipeCard.js
  frontend/src/components/Common/__tests__/SwipeCard.test.js
  frontend/src/components/Common/__tests__/__snapshots__/SwipeCard.test.js.snap
Labels: Frontend

#248 [TEST] Test for Common components
  frontend/src/components/Common/__tests__/Help.test.js
  frontend/src/components/Common/__tests__/MapsPinpoint.test.js
  frontend/src/components/Common/__tests__/UserInput.test.js
  frontend/src/components/Common/__tests__/__snapshots__/Help.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/MapsPinpoint.test.js.snap
  frontend/src/components/Common/__tests__/__snapshots__/UserInput.test.js.snap
Labels: Frontend

#254 [TEST] added tests for failed GET request and failed PATCH request
  backend/src/routes/__tests__/sessions.test.js
Labels: Backend
